body,html{
  background: #b5383c;
}

.z{
  font-size: 18px;
  padding:3%;
  background-color: white;
  font-family: 'Oswald', sans-serif;background-color: white;
  margin: 15%;
}
#y{ padding: 10%;
  background-color: white;
font-family: 'Oswald', sans-serif;
  margin: 15%;
}

#doh{
  padding: 5%;
  margin: 5%;
  background-color: #506757;

}
